{% extends 'base.html' %}

{% block title %}Bloggy | About{% endblock title %}

{% block aboutactive %}active{% endblock aboutactive %}



{% block body %}

<h3 class="text-center mt-5 mb-0">About Author</h3>
<div class="container mt-0 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary">
                <img src="/static/images/user.png" height="100" width="100" /></button>
            <div>
                <label for="'name"><b>Name:</b></b></label>
                <span name='name'class="name mt-3">{{name}}</span>
            </div>
            <div>
                <label for="'username"><b>Username:</b></b></label>
                <span name='name'class="name mt-3">{{username}}</span>
            </div>
            <div>
                <label for="'username"><b>Email:</b></b></label>
                <span name='name'class="name mt-3">{{email}}</span>
            </div>
            
            

            
            <!-- <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                <span class="number">1069
                    <span class="follow">Followers</span>
                </span>
            </div> -->
           
            <div class="text-center mt-3">
                <span>Eleanor Pena is a creator of minimalistic x bold graphics and digital artwork.<br><br> Artist/
                    Creative Director by Day #NFT minting@ with FND night. </span>
            </div>
            
            <!-- <div class=" px-2 rounded mt-4 date ">
                <span class="join">Joined May,2021</span>
            </div> -->
        </div>
    </div>
</div>
{% endblock body %}