{% extends 'base.html' %}

{% block title %}Blogy | Home{% endblock title %}

{% block homeactive %}active{% endblock homeactive %}

{% block body %}

<div class="container jumbotron my-3">
    <h1 class="display-4 text-center ">Welcome to Bloggy</h1>
    <p class="lead">Want to be Heard?<br>Want to be Listened? <br>Want to Improve? <br>We would love to do that for you!</p>
    
    <hr class="my-4">
    <div>

      <p>We are a platform solely dedicated for all creators who wish to bring a change in community by their perspectives!</p>
      <p >So what are you waiting for?</p>
      <p>To be a part of this amazing community, you are just one step away amigo!</p>
    </div>
    
    <h3 class="text-center">Create an Account Now! <br>It's Free! </h3>
  </div>

{% endblock body %}