{% extends 'base.html' %}

{% block title %}Blogy | Home{% endblock title %}

{% block blogactive %}active{% endblock blogactive %}

{% block body %}

<div class='container'>

    <form method='post' action='/blog/createBlog'>
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input name='title'type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Title of Blog">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <textarea name='content'type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Title of Blog" cols='30' rows='10'></textarea>
        </div>
        

        
        
        <button  type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock body %}